<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(authenticated) { %>
     <%- include("./authenticated/edit-bar.ejs");  -%>
    <% } %>
        
    <h1>Matter isplay</h1>
</body>
</html>