<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Model</h1>
    <div>
        <label for="model_name">Model:</label>
        <input name="model_name" type="text" value="<%= params.model %>" />
    </div>
</body>
</html>